<div class="row">
	<div class="col-sm-6">
		<div class="blogtitle">Sample Title</div>
		<div class="blogdate"><?php echo date("m/d/Y"); ?> | <?php echo date("g:i A"); ?></div>
		<div class="blogcontent">
			Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque aliquet venenatis magna, nec lobortis purus eleifend quis. Aenean ornare lacus diam. Proin id dolor dui. In hac habitasse platea dictumst. Nunc nec magna in quam tincidunt tempor eu sed tellus. Vestibulum sit amet eros sem. Aliquam quis ligula vel sapien pharetra dapibus sed sit amet purus. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. In ut erat ipsum. Sed tincidunt ipsum nec arcu condimentum faucibus tempor et libero. Suspendisse laoreet pretium tellus at dignissim. Donec quis sapien venenatis felis fermentum pretium at sit amet mauris. Aliquam erat volutpat.
		</div>
	</div>
	<div class="col-sm-6">
		<div class="blogtitle">Sample Title</div>
		<div class="blogdate"><?php echo date("m/d/Y"); ?> | <?php echo date("g:i A"); ?></div>
		<div class="blogcontent">
			Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque aliquet venenatis magna, nec lobortis purus eleifend quis. Aenean ornare lacus diam. Proin id dolor dui. In hac habitasse platea dictumst. Nunc nec magna in quam tincidunt tempor eu sed tellus. Vestibulum sit amet eros sem. Aliquam quis ligula vel sapien pharetra dapibus sed sit amet purus. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. In ut erat ipsum. Sed tincidunt ipsum nec arcu condimentum faucibus tempor et libero. Suspendisse laoreet pretium tellus at dignissim. Donec quis sapien venenatis felis fermentum pretium at sit amet mauris. Aliquam erat volutpat.
		</div>
	</div>
	<div class="col-sm-6">
		<div class="blogtitle">Sample Title</div>
		<div class="blogdate"><?php echo date("m/d/Y"); ?> | <?php echo date("g:i A"); ?></div>
		<div class="blogcontent">
			Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque aliquet venenatis magna, nec lobortis purus eleifend quis. Aenean ornare lacus diam. Proin id dolor dui. In hac habitasse platea dictumst. Nunc nec magna in quam tincidunt tempor eu sed tellus. Vestibulum sit amet eros sem. Aliquam quis ligula vel sapien pharetra dapibus sed sit amet purus. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. In ut erat ipsum. Sed tincidunt ipsum nec arcu condimentum faucibus tempor et libero. Suspendisse laoreet pretium tellus at dignissim. Donec quis sapien venenatis felis fermentum pretium at sit amet mauris. Aliquam erat volutpat.
		</div>
	</div>
	<div class="col-sm-6">
		<div class="blogtitle">Sample Title</div>
		<div class="blogdate"><?php echo date("m/d/Y"); ?> | <?php echo date("g:i A"); ?></div>
		<div class="blogcontent">
			Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque aliquet venenatis magna, nec lobortis purus eleifend quis. Aenean ornare lacus diam. Proin id dolor dui. In hac habitasse platea dictumst. Nunc nec magna in quam tincidunt tempor eu sed tellus. Vestibulum sit amet eros sem. Aliquam quis ligula vel sapien pharetra dapibus sed sit amet purus. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. In ut erat ipsum. Sed tincidunt ipsum nec arcu condimentum faucibus tempor et libero. Suspendisse laoreet pretium tellus at dignissim. Donec quis sapien venenatis felis fermentum pretium at sit amet mauris. Aliquam erat volutpat.
		</div>
	</div>
</div>