<footer>
	<div class="container">
		<div class="row">
			<div class="col-sm-4">
				<br/>
				<h4>More About Writer</h4>
				Lorem ipsum dolor sit amet, consectetur adipiscing elit.
				Donec tincidunt nibh eu diam malesuada tempus vel nec velit.
				Suspendisse potenti.
			</div>
			<div class="col-sm-4">
				<br/>
				<h4>Visit Our Pages</h4><br/>
				<a href="facebook.com" target="_blank">
					<img class="iconfoot" src="../../img/facebook.png">&nbsp;
				</a>
				<a href="twitter.com" target="_blank">
					<img class="iconfoot" src="../../img/twitter.png">&nbsp;
				</a>
				<a href="gmail.com" target="_blank">
					<img class="iconfoot" src="../../img/gmail.png">&nbsp;
				</a>
				<a href="instagram.com" target="_blank">
					<img class="iconfoot" src="../../img/instagram.png">&nbsp;
				</a>
				<a href="youtube.com" target="_blank">
					<img class="iconfoot" src="../../img/youtube.png">
				</a>
			</div>
			<div class="col-sm-4">
				<br/>
				<h4>Writer <?php echo date("Y");?> &copy;</h4>
				All rights reserved.
			</div>
		</div>
	</div>
</footer>